#calendar table td.date-cell {
     height: 80px;
}
#calendar table td.sun {
     color: red;
}
#calendar table td.sat {
     color: blue;
}
#calendar table td.not-this-month {
     background: #ddd;
     color: #999;
}