<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head 선언 인크루드 -->
<head th:include="layout/sethead"></head>
<body>

	<!-- 네비게이션 인크루드 -->
	<nav class="navbar navbar-default navbar-fixed-top" th:include="layout/header">네비게이션</nav>

	<div class="container">
		<div class="row">
			메인페이지
		</div>
	</div>

	<!-- 풋터 인크루드 -->
	<footer class="footer" th:include="layout/footer">풋터</footer>

	<!-- js설정 인크루드 -->
	<div th:include="layout/setfoot" th:remove="tag"></div>
    
	<script type="text/javascript">
		$("#study_submit").click(function() {
			//콜백 방법 검토
			var data = {};
			$("#study_form").serializeArray().map(function(x){data[x.name] = x.value;});
			
			$.ajax({
				headers: { 
			        'Accept': 'application/json',
			        'Content-Type': 'application/json' 
			    },
				method : "POST",
				url : "/study/save",
				data: JSON.stringify(data),
				dataType : "json"
			}).done(function( result ) {
				$('.note').append('<div id="'+result.sbSeq+'" class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3>'+result.title+'</h3><p>'+result.content+'</p><p><a href="#" class="btn btn-primary" role="button">자세히</a> <a href="#" class="btn btn-default" role="button">연구일정</a></p></div></div></div>');
			});
		});
	</script>
</body>
</html>