<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head 선언 인크루드 -->
<head th:include="layout/sethead"></head>
<body>

	<!-- 네비게이션 인크루드 -->
	<nav class="navbar navbar-default navbar-fixed-top" th:include="layout/header">네비게이션</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<!-- <a class="btn btn-default pull-right" href="#" role="button">
					<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
				</a> -->
				<a class="btn btn-default custom-btn" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
					연구등록 <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
				</a>
				<div class="collapse" id="collapseExample">
					<div class="well">
						<form id="study_form">
						<div class="form-group form-group-sm">
							<div class="row">
								<div class="col-sm-12">
									<input name="title" class="form-control" type="text" id="formGroupInputSmall" placeholder="제목" />
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-12">
									<textarea name="content" class="form-control" rows="10" placeholder="내용"></textarea>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-12">
									<a id="study_submit" class="btn btn-default pull-right" href="#" role="button">등록하기</a>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<form action="/connect/facebook" method="POST">
					<input type="hidden" name="scope" value="email,publish_actions" />
					<div class="formInfo">
						<p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
					</div>
					<p><button type="submit">Connect to Facebook</button></p>
				</form>
			</div>
		</div>
		<div class="row note">
			<div class="col-sm-6 col-md-4" th:each="study : ${studys}">
				<div class="thumbnail">
					<div class="caption">
						<h3 th:text="${study.title}">제목</h3>
						<p th:text="${study.content}">내용</p>
						<p>
							<a href="#" class="btn btn-primary" role="button">자세히</a>
							<a href="#" class="btn btn-default" role="button">연구일정</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 풋터 인크루드 -->
	<footer class="footer" th:include="layout/footer">풋터</footer>

	<!-- js설정 인크루드 -->
	<div th:include="layout/setfoot" th:remove="tag"></div>
    
	<script type="text/javascript">
		$("#study_submit").click(function() {
			//콜백 방법 검토
			var data = {};
			$("#study_form").serializeArray().map(function(x){data[x.name] = x.value;});
			
			$.ajax({
				headers: { 
			        'Accept': 'application/json',
			        'Content-Type': 'application/json' 
			    },
				method : "POST",
				url : "/study/save",
				data: JSON.stringify(data),
				dataType : "json"
			}).done(function( result ) {
				$('.note').append('<div id="'+result.sbSeq+'" class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3>'+result.title+'</h3><p>'+result.content+'</p><p><a href="#" class="btn btn-primary" role="button">자세히</a> <a href="#" class="btn btn-default" role="button">연구일정</a></p></div></div></div>');
			});
		});
	</script>
</body>
</html>